<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <p>lerel mipsum jdvsnaefilskv aeb fi fsilfu afdnlsv siduvnflx ks sdvsbdkfh  eeiluferliu aeriugrfghfkdzhfgierug bfdkiaedhkd ekryb ekryi bkeryb kery bbekrjfybe kdjyb kdjybeskyjdfbdjhbbvdfkjvbhrktyigbek</p>
<button>Click me</button>
</body>
</html>